<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.scau.cmi.lianzongsheng.mybatisdemo.dao.studentDao">

    <select id="getAll" resultType="cn.edu.scau.cmi.lianzongsheng.mybatisdemo.domain.Student">
        select * from student
    </select>

    <insert id="add" parameterType="cn.edu.scau.cmi.lianzongsheng.mybatisdemo.domain.Student">
        insert into student(id,name) values (#{id},#{name})
    </insert>

    <update id="update" parameterType="cn.edu.scau.cmi.lianzongsheng.mybatisdemo.domain.Student">
        update student set id = #{id},name = #{name} where id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from student where id = #{id}
    </delete>
</mapper>