<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "student1" class="cn.edu.scau.cmi.lianzongsheng.ioc.domain.Student">
        <property name="name" value="张三"></property>
        <property name="gendar" value="男"></property>
    </bean>

    <bean id = "teacher1" class="cn.edu.scau.cmi.lianzongsheng.ioc.domain.Teacher">
        <property name="name" value="梁老师"></property>
        <property name="gendar" value="男"></property>
    </bean>

</beans>